apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: nginx
        image: europe-west1-docker.pkg.dev/aufgabe-1-488121/app-repo/frontend:1
        ports:
        - containerPort: 80
